# =============================================================
# ChatSphere Microservices Docker Environment Variables Template
# =============================================================

# --- JWT Authentication Secret ---
JWT_SECRET=aether_jwt_secret_super_secure_key_2026

# --- Database & In-Memory Store ---
USER_MONGO_URI=mongodb://mongo:27017/ChatAppMicroserviceApp
CHAT_MONGO_URI=mongodb://mongo:27017/ChatAppMicroserviceApp
REDIS_URL=redis://redis:6379

# --- RabbitMQ Credentials ---
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# --- Mail Service (Gmail / SMTP Credentials for OTP delivery) ---
MAIL_USER=krishna1863singh@gmail.com
MAIL_PASSWORD=lnop qrpb snui rwhu

# --- Cloudinary (Media upload credentials) ---
CLOUDINARY_CLOUD_NAME=dzssijacq
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=mock_api_secret_key
